<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="row">
    <form id="orderForm" method="POST">
     <div class="row">
        <div class="col-sm">
            <h5>收件人資料彙整</h5>
            <textarea name="misc-input" rows="5" cols="50"></textarea>
            <br>
            <input id="btnPreviewData" type="button" value="預覽"/>
        </div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    </div>
    <div class="row">
        <div class="col-sm">
         <div class="row">
             <div class="col-sm">
                 <label>出貨日期</label>
                 <input type="date" class="form-control" id="shippingDate-input" name="shippingDate-input">
             </div>
             <div class="col-sm">
                <label>到貨日期</label>
                <input type="date" class="form-control" id="arrivalDate-input" name="arrivalDate-input">
            </div>
         </div>
        <br>

         <div class="row">
             <div class="col-sm">
                <label>姓名</label>
                <input type="text" class="form-control" id="name-input" name="name-input">
            </div>
               <div class="col-sm">
                <label>地址</label>
                <input type="text" class="form-control" id="address-input" name="address-input">
            </div>
         </div>
            <br>
        <div class="row">
             <div class="col-sm">
                 <label>聯絡電話</label>
                <input type="tel" class="form-control" id="phone-input" name="phone-input">
            </div>
             <div class="col-sm">
                <label>手機</label>
                <input type="tel" class="form-control" id="mPhone-input" name="mPhone-input">
            </div>
             <div class="col-sm">
                <label>數量</label>
                 <input type="number" class="form-control" id="numbers-input" name="numbers-input" step="1"
                 min="1" max="50" value="4">
            </div>
         </div>
            <br>
        <div class="row">
             <div class="col-sm">
                <label>付款方式</label>
                <br>
                 <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="PaymentMethod-input" id="transfer-input" value="轉帳" checked>
                  <label class="form-check-label" for="transfer-input">轉帳</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="PaymentMethod-input" id="cashOnDelivery-input" value="貨到付款" >
                  <label class="form-check-label" for="cashOnDelivery-input">貨到付款</label>
                </div>
             </div>
            <div class="col-sm">
                <label>到貨時間</label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="arriveTime-input" id="arriveTimeOnMorning-input" value="上午" checked>
                  <label class="form-check-label" for="arriveTimeOnMorning-input">上午</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="arriveTime-input" id="arriveOnAfternoon-input" value="下午">
                  <label class="form-check-label" for="arriveOnAfternoon-input">下午</label>
                </div>
             </div>
        </div>
            <br>
            <label>其他需求</label>
            <input type="text" class="form-control" id="userComment-input" name="userComment-input">
         <br>
        </div>
    </div>
     <div class="row">
         <br>
        <input id="btnAddNewOrder" name="addNewOrder" type="button" value="新增一筆" style="
    width: 100px;"/>
        <br>
        <label id="lblAddDataResponse"></label>
     </div>
    </form>
    </div>

</div>
<!--<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
<!-- {{table|safe}}-->
<!--</div>-->
