<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>包粽相簿</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="../static/style_photo_gallery.css" rel="stylesheet">
    <script src="./static/dist/js/jquery.swipebox.min.js"></script>
    <link rel="stylesheet" href="./static/dist/css/swipebox.min.css"/>
    <link rel="stylesheet" href="./static/dist/css/justifiedGallery.css"/>
    <script src="./static/dist/js/jquery.justifiedGallery.js"></script>
    <script src="./static/dist/js/loadimage.js"></script>
</head>
<body>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div id="swipeboxExample">
    <!-- other images... -->
</div>
</body>
<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h6>Coded with <i class="fa fa-heart red"></i> by Chris Chen</h6>
        </div>
    </div>
</footer>
<script src="../static/dist/js/photoGalleryJs.js?v={{range(1, 5100) | random }}"></script>

</html>