<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="row">
        <form id="queryForm" method="post">
            <div class="col-sm">
                <label>匯入資料日期</label>
                <div class="input-group date" id="GoogleSpreadArrivalDate-input">
                  <input type="text" class="form-control" name="GoogleSpreadArrivalDate-input">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th feather featherCalender" data-feather="calendar">
                        </i>
                    </span>
                </div>
            </div>

            <br>
            <div class="col-sm">
                <input id="importDataFromGoogleSpread" type="button" name="ImportDataFromGoogleSpread" value="從Google表單匯入"/>
                <input id="exportCSV" type="button" value="匯出 CSV"/>
                <input id="openGoogleSpreadSheet" type="button" value="開啟google表單"/>
            </div>
        </form>
    </div>
    <div class="row">
<!--         <div class="col-sm">-->
<!--            <button id="test" >測試</button>-->
<!--         </div>-->
<!--         <div class="col-sm">-->
<!--            <form method="post">-->
<!--                <input type="submit" name="ClearAllOrders" value="清除所有資料"/>-->
<!--            </form>-->
<!--         </div>-->
      </div>
    <div class="row">
        <p>{{message}}</p>
     </div>
</div>
<!--<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
<!--     -->
<!--</div>-->
<div id = "queryResponse" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
 {{tableorderDates}}
</div>
