<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="row">
        <form id="queryForm" method="post">
            <div class="col-sm">
                <label>搜尋出貨訂單</label>
                <div class="input-group date" id="GoogleSpreadShippingDate-input">
                  <input type="text" class="form-control" name="GoogleSpreadShippingDate-input">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th feather featherCalender" data-feather="calendar">
                        </i>
                    </span>
                </div>
            </div>

            <br>
            <div class="col-sm">
                <input id="exportCSV" type="button" value="匯出 CSV"/>
                <input id="openGoogleSpreadSheet" type="button" value="開啟google表單"/>
            </div>
        </form>
    </div>
    <div class="row">
        <p>{{message}}</p>
     </div>
</div>

<div id="ResponseSummarys" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 id="totoalNumbers"></h4>
</div>
<div id="queryResponse" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
</div>

{% if date_summary %}
<div class="pt-2 pb-3 mb-3 border-bottom">
    <h6>未來出貨預覽（未匯出）</h6>
    <table class="table table-sm table-bordered" style="width: auto; min-width: 200px;">
        <thead class="thead-light">
            <tr>
                <th>出貨日期</th>
                <th>總箱數</th>
            </tr>
        </thead>
        <tbody>
            {% for row in date_summary %}
            <tr>
                <td>{{ row.date }}</td>
                <td>{{ row.total_boxes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
